<form action="/products" method="get">
  <div class="form-group">
    <label for="formGroupExampleInput">
      <h2>Products</h2>
    </label>
    <p>
      <input type="text" name="search" class="form-control" id="search" placeholder="Search for products..">
      <button type="submit" class="btn btn-dark">Search</button>
    </p>
  </div>
</form>

<table class="table table-hover" id="productTable">
  <tr>
    <th>
      Picture
    </th>
    <th>
      Brand
    </th>
    <th>
      Name
    </th>
    <th>
      Details
    </th>
    <th>
      Add
    </th>
    <th>
      Delete
    </th>
  </tr>
  {{#each products}}

  <tr>
    <td>
      <p><img class="list-image" src="{{this.image}}" alt="Artist picture"></p>
    </td>
    <td>
      <p><b>{{this.brand}}</b></p>
    </td>
    <td>
      <p>{{this.name}}</p>
    </td>
    <td>
      <p>
        <button type="button" class="btn btn-outline-dark"><a href="/products/{{this._id}}">Details</a></button></p>
    </td>
    <td>
      <form action="products/{{this._id}}/add?curent={{../curentPage}}&search={{../currentSearchTerm}}" method="post">
        <button type="submit" class="btn btn-dark">ADD</button></form>
    </td>
    <td>
      <form action="products/{{this._id}}/delete" method="post"><button type="submit" class="btn btn-danger">DO NOT
          USE</button></form>
    </td>
  </tr>

  {{/each}}
</table>


<p>
<button type="button" class="btn btn-outline-dark"><a
    href="/products?curent={{curentPage}}&search={{currentSearchTerm}}">Next</a></button>
</p>
<button type="button" class="btn btn-outline-dark"><a href="/products/shoppinglist">Your Shopping List</a></button>

<button type="button" class="btn btn-outline-dark"><a href="/products/new">Create a new product</a></button>

<button type="button" class="btn btn-outline-dark"><a href="/protected">Back Home</a></button>