<h2>YOUR SHOPPINGLIST</h2>

<ul>
  {{#each shoppinglist}}
    <li>
        BRAND: {{ this.brand }} 
        NAME: {{ this.name}} 
        PRICE: {{ this.price}} 
        CATEGORY: {{ this.category}} 
        <p>
      <form action="/products/shoppinglist/{{this._id}}/delete" method="post"><button type="submit">Delete</button></form></a></p>
    </li>
  {{/each}}
</ul>

<p><b><a href="/products/new">( Create a new Product )</a></b></p>

<p><b><a href="/products">Back to the product list</a></b></p>